/**
  |============================
  | General styles
  |============================
*/
:root {
  --bgcl-general: #ffffff;
  --popular-text-cl: #434455;
  --btn-cl: #4d5ae5;
  --btn-bg-cl: #f4f4fd;
  --title-cl: #2e2f42;
  --btn-cl-border: #e7e9fc;
  --costumers-link-cl: #8e8f99;
  --checkbox-cl: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bgcl-general);
  letter-spacing: 0.02em;
  color: var(--popular-text-cl);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  padding-left: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-block {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--title-cl);
}

.title-section {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-cl);
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.container {
  min-width: 320px;
  max-width: 468px;
  margin: 0 auto;
  padding: 0 16px;
  outline: 2px solid tomato;
  outline-offset: -2px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: minwidthpx) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/**
  |============================
  | Header styles
  |============================
*/

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.web {
  color: #4d5ae5;
}

.dark-studio {
  color: #2e2f42;
}

.nav-list {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  bottom: -1px;
}
.active {
  color: #404bbf;
}

.nav-list:hover,
.nav-list:focus {
  color: #404bbf;
}
.adress {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.adress-list {
  color: #434455;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list:hover,
.adress-list:focus {
  color: #404bbf;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-container {
  display: flex;
  align-items: center;
}
.nav-list-container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.adress-container {
  display: flex;
  align-items: center;
  gap: 40px;
}
.logo-container {
  margin-right: 76px;
}

/**
  |============================
  | Styles section hero
  |============================
*/
.hero {
  background-color: #2e2f42;
  padding-top: 112px;
  padding-bottom: 112px;
  max-width: 468px;
  background-position: center;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);

  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 1158px) {
  .hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-position: center;
    margin: 0 auto;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-office.jpg);

    background-repeat: no-repeat;
    background-size: cover;
  }
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 72px;
}

@media only screen and (min-width: 1158px) {
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  min-width: 169px;
  min-height: 56px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;

  cursor: pointer;
}

/**
  |============================
  | Styles future
  |============================
*/

.section-future{
  padding-top: 0;
}

.text-future {
  letter-spacing: 0.02em;
  margin: 0 auto;
  padding: 0 auto;
}
.title-section {
  text-align: center;
  margin-bottom: 8px;
}
.card-future {
  /* display: flex;
  gap: 24px; */
}
.card-future-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.future-container-icon {
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

/**
  |============================
  | What doing
  |============================
*/
.title-block {
  text-transform: capitalize;
  margin-bottom: 72px;
}

.card-do {
  display: flex;
  gap: 24px;
}
.card-do-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.section-do {
  padding-top: 0;
}

/**
  |============================
  | Styles section team
  |============================
*/
.team {
  background-color: #f4f4fd;
}
.title-team {
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.text-team {
  text-align: center;
  margin-bottom: 8px;
}

.list-title {
  background-color: #ffffff;
}

.card-team {
  display: flex;
  gap: 24px;
}

.card-team-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-container {
  padding: 32px 0;
}

.list-team-social {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.social-container {
  margin-right: 80px;
}

.social-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.social-icon {
  fill: #f4f4fd;
}
.social-item {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | Styles costumers
  |============================
*/

.list-costumers {
  display: flex;
  justify-content: center;

  gap: 24px;
}

.costumers-link {
  display: flex;
  width: 168px;
  height: 88px;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  color: var(--costumers-link-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.costumers-link:hover,
.costumers-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}
.costumers-link:hover .costumers-icon,
.costumers-link:focus .costumers-icon {
  fill: #404bbf;
  border-color: #404bbf;
}
.costumers-icon {
  fill: currentColor;
}
.title-costumers {
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;

  text-align: center;
  margin-bottom: 72px;
}
/**
  |============================
  | Styles footer
  |============================
*/
.footer {
  display: flex;
  background-color: #2e2f42;
  padding: 100px 0;
}

.light-studio {
  color: #f4f4fd;
}

.text-footer {
  color: #f4f4fd;
  width: 264px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-social {
  display: flex;
}
.container-nav-footer {
  margin-right: 120px;
}

.footer-container {
  display: flex;

  align-items: baseline;
}

.footer-social {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.social-link-footer {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-footer-social {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-link-footer:hover,
.social-link-footer:focus {
  background-color: #31d0aa;
}
.social-icon {
  fill: #f4f4fd;
}

.container-form {
}

.footer-form {
  display: flex;
  align-items: baseline;
  gap: 24px;
}
.footer-label {
}
.footer-input {
  width: 264px;
  height: 40px;
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  color: var(--white, #fff);

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footer-input::placeholder {
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.footer-btn {
  display: flex;
  min-width: 165px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: #4d5ae5;
  background: var(--iris, #4d5ae5);
  padding: 8px 24px;
  outline: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: #ffffff;
  text-align: center;

  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: #404bbf;
}

.footer-btn-icon {
  margin-left: 16px;
}

/**
  |============================
  | Styles portfolio
  |============================
*/

.portfolio-btn {
  font-family: "Roboto", sans-serif;
  color: var(--btn-cl);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--btn-bg-cl);
  border: 1px solid var(--btn-cl-border);
  border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  color: var(--title-cl);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--popular-text-cl);
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.btn-container-port {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-btn-item {
  padding: 12px 24px;
}
.works-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.list-works-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.protfolio-works {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/* Overlay */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms;
}
.thumb-img {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  color: #f4f4fd;
  letter-spacing: 0.6;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 40px;
  padding-bottom: 164px;
}
.list-works-item:hover .overlay {
  transform: translateY(0);
}
.list-works-item:hover,
.list-works-item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/**
  |============================
  | Modal icon styles
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon {
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-cl {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  background-color: transparent;
  width: 24px;
  height: 24px;
  padding: 0;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-cl:hover,
.modal-btn-cl:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
/* Modal input */

.modal-form {
}
.modal-caption {
  display: block;

  width: 360px;
  color: #2e2f42;
  text-align: center;

  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
}

.container-input {
  margin-bottom: 8px;
}

.container-input-all {
  position: relative;
}

.container-comment {
  margin-bottom: 16px;
}

.container-privacy {
  margin-bottom: 24px;
}

.modal-form-filed {
  display: block;
  margin-bottom: 4px;

  color: #8e8f99;

  font-family: Roboto;
  font-size: 12px;

  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal-form-input {
  width: 100%;
  height: 40px;

  outline: transparent;

  font-size: 18px;
  padding-left: 38px;

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border: 1px solid #4d5ae5;
}

.modal-form-icon {
  fill: #2e2f42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.modal-form-comment {
  width: 100%;
  padding: 8px 16px;
  height: 120px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);

  resize: none;
  outline: transparent;
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.modal-form-comment::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));

  font-size: 12px;

  letter-spacing: 0.48px;
}

.modal-form-comment:focus {
  border-radius: 4px;
  border: 1px solid #4d5ae5;
}

/* Agree */

.modal-form-agree {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--costumers-link-cl);
}

.modal-form-checkbox-custom {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  fill: transparent;

  width: 16px;
  height: 16px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:checked + .modal-form-agree > .modal-form-checkbox-custom {
  background-color: var(--checkbox-cl);
  border: none;
  fill: var(--btn-bg-cl);
}

.modal-form-link {
  color: var(--btn-cl);
}
